/* Styles généraux pour toute l'appli*/
html{  
}

body {
    height : 1440px;
    width : 2160px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border : 1px solid red;
}

img.background{
    display:block;
    height : auto;
    width: auto;
    top : 0px;
    left : 0px;
    position : absolute;
    z-index : -1;
}

/* Styles pour la page home*/
.home_container{
    width : 70%;
    height : 70%;
    border : 1px solid green;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.home_user{
    display: flex; 
    flex-basis: calc(50%);  
    justify-content: center;
    flex-direction: column;
}

.home_user > img{
    max-height  : 100%;
    max-width : 100%
}
