/* Styles généraux pour toute l'appli*/
@font-face {
    font-family: 'MainFont';
    src: url('/fonts/freesans.ttf')  format('truetype');
}

@font-face {
    font-family: 'ConsoleFont';
    src: url('/fonts/octab-017.ttf')  format('truetype');
}

html{  
}

body {
    font-family: 'MainFont';
    margin: 0;
    padding: 0;
}

.main {
    height : 1824px;
    width : 2736px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/img/machine_fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styles pour la page home*/
.clip-svg{
    display:block;
    height: 0;
    width: 0;
}
.home_container{
    width : 70%;
    height : 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.home_user{
    height : 50%;
    width : 50%;
    position : relative;
}

.home_user > img.home_user_back{
    max-height  : 100%;
    max-width : 100%
}

.home_user_portrait {
    clip-path: url(#hexagon-clip);
    position : absolute;
}

.home_user_portrait.left{
    left: 7%;
    width: 56.5%;
    height: 81%;
    top: 7%;
}

.home_user_portrait.right{
    right: 7%;
    width: 58%;
    height: 84%;
    top: 7.5%;
}

/* Page de login */

.login_header{
    height: 20%;
    width : 100%;
}

.login_main{
    height : fit-content;
    width : 60%;
    background-color: rgba(194, 208, 223, 0.8);
    border-radius: 20px;
    display : flex;
    flex-flow: column;
}

.login_welcome{
    display : block;
    font-size:4em;
    width: 100%;
    text-align: center;
    margin-top : 10%;
}

.login_password_please{
    display : block;
    font-size:2em;
    width: 100%;
    color: #666666;
    text-align: center;
}

.login_password_erreur{
    display : block;
    font-size:2em;
    width: 100%;
    color: red;
    text-align: center;
}

.login_form{
    padding-top : 3%;
    width : 100%;
    height : 100%;
}

.login_password{
    display : block;
    width : 40%;
    height : 20%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    text-align: center;

}

.login_button{
    background:url(/img/bouton_enter.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:20em;
    height : 9em;
    border: 0;
    display: block;
    float : right;
    margin-right: 2%;
    margin-bottom: 2em;
}

/* Menu standard */

.menu_standard_container{
    display: flex;
    flex-direction: column;
    width : 70%;
    height : 80%
}
.menu_standard_icons{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.menu_standard_icons_row{
    width : 100%;
    display: flex;
    justify-content: center;
}

.menu_standard_icons_row_top{
    margin-bottom: 5%;
}

.menu_standard_icons_cell{
    width : 33%;
}

.menu_standard_icons_disabled img{
    filter: grayscale(100%);
}

.menu_standard_icons_cell > img{
    display : block;
    height : 100%;
    margin: auto;
}

.menu_standard_saisie{
    width : 100%;
    height : 15%;
    display : flex;
    justify-content: center;
    margin-bottom: 5%;
}

.menu_standard_container_rfid{
    font-size: 3em;
    border-radius: 9999px;
    text-align: center;
}

.menu_standard_deconnexion{
    height : 10%;
    margin-top: 5%;
}

.menu_standard_deconnexion > img{
    height : 100%;
    margin-left: auto;
    display : block;
}

/* Pour les pages standard */
.nom_patient_puces{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.nom_patient_puces > img{
    width : 7%;
    height: auto;
}

.patient_nom{
    background: white;
    border-radius: 9999px;
    font-size: 5em;
    line-height: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom : 2%;
    padding-right: 4%;
    border : 2px solid #A1A1A1;
    width : fit-content;
    white-space:nowrap;
    margin-left: 2%;
    margin-right: 2%;
}

.standard_page_body{
    height : 100%;
    width : 100%;
}

.standard_page_header{
    width : 100%;
    height : 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.standard_page_content{
    width : 100%;
    height : 65%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.standard_page_footer{
    width : 100%;
    height : 15%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.standard_page_footer > img#bouton_retour{
    height : 60%;
    margin-right: 10%;
}

/* Page de check-up 1*/
.check_up_1_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37%;
    width : 100%;
}

.check_up_1_content > img{
    margin : 5%;
    max-height: 100%;
}

/* Check up 2 */
.check_up_2_content{
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.check_up_2_left{
    height : 100%;
    width : 50%;
}

.check_up_2_sang{
    height : 50%;
    width : 100%;
    border-radius: 3em;
    background : white;
    margin-left: 5%;
    margin-right: 5%;
    border : 2px solid #A1A1A1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.check_up_2_sang > img{
    height : 25%;
    margin-top: 2%;
    margin-left: 2%;
}

.check_up_2_sang_txt{
    font-size: 3em;
    font-family: 'ConsoleFont';
    height : 70%;
    width : 100%;
    padding-left: 10%;
}

.check_up_2_cardio{
    height : 50%;
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.check_up_2_cardio > img {
    margin-left: 5%;
    border-radius: 3em;
    height : 90%;
}

.check_up_2_cardio_txt{
    font-size: 3em;
    width: 50%;
}

.check_up_2_right{
    height : 100%;
    width : 50%;
    border-radius: 3em;
    background : white;
    margin-left: 5%;
    margin-right: 5%;
    border : 2px solid #A1A1A1;
}

.check_up_2_listing_container{
    height : 100%;
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.check_up_2_listing{
    vertical-align: middle;
    font-size: 3em;
    font-family: 'ConsoleFont';
    width : 90%;
    text-align: justify;
}

/* Choix diagnostic */
.diagnostic_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37%;
    width : 100%;
}

.diagnostic_content > img{
    margin : 5%;
    max-height: 100%;
}

/* Résultat diagnostic */
.diagnostic_result{
    height : 100%;
    width : 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 3em;
    background : white;
    border : 2px solid #A1A1A1;
}

.diagnostic_text{
    font-size: 3em;
    font-family: 'ConsoleFont';
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

/* Page de loading */
.loading_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loading_text{
    font-size: 5em;
    text-align: center;
}

/* Soins simples */
.soins_simples_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 100%;
    width : 100%;
}

.soins_simples_ligne {
    height : 50%;
    width : 40%;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.soins_simples_ligne > img{
    height : 74.5%;
}

/* Anesthésie */
.anesthesie_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37%;
    width : 100%;
}

.anesthesie_content > img{
    margin : 5%;
    max-height: 100%;
}

/* Chirurgie */
.chirurgie_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37%;
    width : 100%;
}

.chirurgie_content > img{
    margin : 5%;
    max-height: 100%;
}

/* Reproduction */
.reproduction_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37%;
    width : 100%;
}

.reproduction_content > img{
    margin : 5%;
    max-height: 100%;
}

/* Resultat reproduction */
.resultat_reproduction_content{
    height : 90%;
    width : 90%;
    background: white;
    border : 2px solid #A1A1A1;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.resultat_reproduction_titre{
    margin-left: 3%;
    margin-top: 1%;
    height : 20%;
}

.resultat_reproduction_titre > img {
    height : 100%;
}

.resultat_reproduction_txt{
    font-size: 3em;
    font-family: 'ConsoleFont';
    padding-left: 5%;
    padding-top: 2%;
    text-align: justify;
}

/* Instructions chirurgie */
.chir_instructions_content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width : 60%;
}

.chir_instructions_row_1{
    height : 37%;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.chir_instructions_row_1 > img{
    max-height: 100%;
}

.chir_instructions_row_2{
    height : 37%;
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.chir_instructions_row_2 > img{
    max-height: 100%;
}

/* Pages d'instructions, toutes sur le même modèle */
.chir_instructions_detail_content{
    font-size: 3em;
    font-family: 'MainFont';
    height : 80%;
    width : 80%;
    background: white;
    border : 2px solid #A1A1A1;
    border-radius: 3em;
    text-align: justify;
    padding: 2em;
}

/*Page no result */
.no_result_content{
    height : 30%;
    width : 80%;
    background: white;
    border : 2px solid #A1A1A1;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.no_result_txt{
    height: fit-content;
    width: fit-content;
    font-size: 5em;
    line-height: 5em;
    font-family: 'ConsoleFont';
}

/* Menu ADN */
.menu_adn_icons{
    margin-top: 14%;
    margin-bottom: 14%;
    height : 47%;
    width : 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.menu_adn_icons > img {
    max-height: 100%;
}

.menu_adn_icons_disabled > img{
    filter: grayscale(100%);
}

/* Résultats du prélèvement d'ADN */
.prelevement_adn_resultat_content{
    height : 80%;
    width : 80%;
    background: white;
    border : 2px solid #A1A1A1;
    border-radius: 3em;
    padding: 2em;
}

.prelevement_adn_resultat_content > img{
    height : 20%;
}

.prelevement_adn_resultat_bases{
    height: 80%;
    width : 75%;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.prelevement_adn_resultat_base{
    height : fit-content;
    width : fit-content;
    background: white;
    border : 2px solid #A1A1A1;
    border-radius: 1em;
    text-align: justify;
    padding: 2em;
    font-size: 3em;
    font-family: 'MainFont';
}

/* Page de création de vecteurs */
.creation_vecteur_content{
    height : 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.creation_vecteur_list{
    height : 20%;
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creation_vecteur_list #liste_patients {
    height: fit-content;
    width: fit-content;
    font-size: 5em;
    border-radius: 3em;
}

.creation_vecteur_list span {
    height : fit-content;
    width : fit-content;
    background: white;
    border : 2px solid #A1A1A1;
    border-radius: 1em;
    text-align: justify;
    padding: 2em;
    font-size: 3em;
    font-family: 'MainFont';
}


.creation_vecteur_saisie{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3em;
}

.creation_vecteur_show_adn{
    width: 100%;
    height : 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.creation_vecteur_show_adn > span{
    background: white;
    border : 2px solid #A1A1A1;
    border-radius: 1em;
    padding: 1em;
    width: 1em;
    height: 1.5em;
}

.creation_vecteur_saisie_adn{
    width: 100%;
    height : 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.creation_vecteur_saisie_adn > input{
    background: white;
    border: 2px solid #A1A1A1;
    border-radius: 1em;
    padding: 1em;
    font-size: 1.5em;
    height: 1em;
    font-weight: bold;
    font-family: 'ConsoleFont';
    width: 0.5em;
}

.creation_vecteur_creer {
    height: 18%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.creation_vecteur_creer > img{
    max-height: 100%;
}

/* La page d'administration des vecteurs*/
.admin_vecteur_content{
    width: 70%;
    height : 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border-radius: 3em;
    background : white;
    border : 2px solid #A1A1A1;
    padding: 2em;
}

.admin_vecteur_ligne{
    min-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3em;
}

.admin_vecteur_adn_pad{
    padding-top: 0.2em;
}

.admin_vecteur_adn{
    height: 100%;
    width: 15%;
}

.admin_vecteur_statut{
    width : 17%;
    height: 100%;
}

.admin_vecteur_statut > img{
    height : 2em;
}

.admin_vecteur_line{
    border-top: 2px solid #A1A1A1;
    height: 1px;
    width : 80%;
    margin-top: 1em;
    margin-bottom : 1em;
}

.admin_vecteur_resultat_content{
    max-height : 80%;
    height : fit-content;
    width : 80%;
    border-radius: 3em;
    background : white;
    border : 2px solid #A1A1A1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_vecteur_resultat_text{
    font-size: 3em;
    font-family: 'ConsoleFont';
    height : 100%;
    width : 100%;
    text-align: justify;
    padding: 3em;
    overflow-y: auto;
}